mixin dropdown(options)
  -
    const title = options.title || "dropdown"
    const name = options.name || "dropdown"
    const className = options.className || ""
    const classes = className ? `dropdown ${className} js-${className}` : "dropdown js-dropdown"

  div(class != classes)
    h3.dropdown__title #{title}

    .dropdown__container-of-field
      input.dropdown__field(type = "text", name != name, readonly)

    .dropdown__list

