mixin dropdown(options = {})
  -
    const { title = 'dropdown', name = 'dropdown', className = '' } = options
    const classes = className ? `dropdown ${ className } js-${ className }` : 'dropdown js-dropdown'

  section(class != classes)
    h3.dropdown__title #{ title }

    .dropdown__container-of-field
      input.dropdown__field(type = "text", name != name, readonly)

    .dropdown__list

