mixin pagination(maxValue = 15, paginationText = 'pagination text')
  .pagination
    .pagination__pages
      .pagination__prev-button
      .pagination__page.pagination__page_active 1
      .pagination__page 2
      .pagination__page 3
      .pagination__page ...
      .pagination__page #{ maxValue } 
      .pagination__next-button 

    .pagination__text-container 
      p.pagination__text #{ paginationText }