@import '../../styles/variables.sass'
  
.pagination
  max-width: 280px
  width: fit-content
  box-sizing: border-box

  &__pages
    width: 100%
    display: flex
    box-sizing: border-box
    flex-wrap: wrap

  &__page
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 auto
    font-weight: $normal
    font-size: 12px
    line-height: 15px
    text-align: center
    color: $dark-shade-50
    cursor: pointer
    user-select: none

    &_active
      border-radius: 50%
      +gradient
      color: #fff
      font-weight: $bold
  
  &__prev-button, &__next-button
    width: 40px
    height: 40px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 auto
    position: relative
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    cursor: pointer

    &:after, &:before
      font-family: toxin-icons
      text-transform: none
      font-size: 24px
      color: #fff
      font-weight: $normal

  &__prev-button
    display: none
    transform: rotate(180deg)

    &::before
      content: '\e901'

  &__next-button
    &::before
      content: '\e901'

  &__text-container
    width: 100%
    box-sizing: border-box
    display: flex
    flex: 1 1 auto
    justify-content: center
    
  &__text
    margin-top: 8px
    font-weight: $normal
    font-size: 14px
    line-height: 24px
    color: $dark-shade-75
    width: fit-content
    

