@import '../../styles/variables.sass'
  
.pagination
  max-width: 280px
  width: fit-content
  box-sizing: border-box

  &__pages
    width: 100%
    display: flex
    box-sizing: border-box
    flex-wrap: wrap

    & .pagination__page
      width: 40px
      height: 40px
      display: flex
      justify-content: center
      align-items: center
      flex: 0 0 auto
      font-weight: $normal
      font-size: 12px
      line-height: 15px
      text-align: center
      color: $dark-shade-50
      cursor: pointer

      &_active
        border-radius: 50%
        +gradient
        color: #fff
        font-weight: $bold
  
    & .pagination__prev-button, & .pagination__next-button
      width: 40px
      height: 40px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      flex: 0 0 auto
      position: relative
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
      cursor: pointer

      &:after, &:before
        font-family: 'Material Icons'
        text-transform: none
        font-size: 24px
        color: #fff
        font-weight: $normal

  
    & .pagination__prev-button
      display: none

    & .pagination__prev-button::before
      content: 'arrow_back'

    & .pagination__next-button::before
      content: 'arrow_forward'

  &__text-container
    width: 100%
    box-sizing: border-box
    display: flex
    flex: 1 1 auto
    justify-content: center
    

    & .pagination__text
      margin-top: 8px
      font-weight: $normal
      font-size: 14px
      line-height: 24px
      color: $dark-shade-75
      width: fit-content
    

