include ../control-panel/control-panel.pug
include ../item-of-dropdown/item-of-dropdown.pug

mixin dropdownList(options = {})
  - const { type = 'convenience', items = [] } = options

  .dropdown-list.js-dropdown-list
    each item in items
      +itemOfDropdown(item)

    if type === 'guests'
      +controlPanel

    