include __item/rich-checkbox-buttons__item.pug

mixin richCheckboxButtons(options = {})
  - const { title = "", itemOptions = undefined } = options

  section.rich-checkbox-buttons
    h3.rich-checkbox-buttons__title #{ title }
    .rich-checkbox-buttons__list
      if itemOptions
        each item in itemOptions
          +richCheckboxButtons__item(item)