include __image/imageSlider__image.pug
mixin imageSlider(sliderItems)
  .imageSlider
    .imageSlider__prev 
    .imageSlider__next
    .imageSlider__slides
      - var activeImage = true
      each item in sliderItems
        +image(item.src, item.alt, activeImage)
        - activeImage = false