@import "../../styles/variables";

.rate-button {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: fit-content;
  padding-top: 8px;

  &__stars {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    margin: 0;
  }

  &__star {
    width: 24px;
    height: 24px;

    &:hover {
      cursor: pointer;
    }

    &::before {
      padding: 0;
      color: $color-font-light;
      font-size: 24px;
      font-family: toxin-icons;
      background: $gradient-primary;
      background-clip: text;
      border: 1px solid transparent;
      content: "\e906";
      -webkit-text-fill-color: transparent;
    }

    &_active::before {
      content: "\e907";
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: fit-content;
    margin: 0;
    margin-right: 3px;
    color: $color-font-dark-50;
    font-size: 14px;
    line-height: 18px;
  }

  &__reviews-quantity {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
    margin-right: 3px;
    font-weight: $bold;
  }

  &__reviews-text {
    width: fit-content;
    margin: 0;
    font-weight: $normal;
  }
}
