include ../like-button/like-button.pug

mixin review({ photo = '', name = '', publicationDate = '', text = '', quantityLikes: quantity = 0, liked = false })

  article.review.js-review
    header.review__user 
      img.review__photo(src = photo, alt = "user photo")
      .review__name-container 
        h2.review__name #{ name }
        p.review__publication-date #{ publicationDate }
    
    .review__message
      .review__like-button-container.js-review__like-button-container
        +likeButton({ quantity, liked })
      .review__text-container 
        p.review__text #{ text }