include ../like-button/like-button.pug

mixin review(options)
  -
    const { 
      photo = "", name = "", publicationDate = "", text = "", quantityLikes: quantity = 0, liked = false 
    } = options
 
  article.review
    header.review__user 
      img.review__photo(src != photo, alt = "user photo")
      .review__name-container 
        p.review__name #{ name }
        p.review__publication-date 
          time #{ publicationDate }
    
    .review__message
      .review__like-button-container
        +likeButton({ quantity, liked })
      .review__text-container 
        p.review__text #{ text }