@import "../../styles/variables";

.review {
  box-sizing: border-box;
  width: 100%;

  &__user {
    display: flex;
    width: 100%;
  }

  &__photo {
    flex: 0 0 auto;
    width: 43px;
    height: 43px;
    border: 2px solid $color-main-bg;
    border-radius: 50%;
    filter: drop-shadow(0 10px 20px $color-font-dark-10);
  }

  &__name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 9px;
  }

  &__name {
    flex: 1 1 auto;
    margin: 0;
    color: $color-font-dark-75;
    font-weight: $bold;
    font-size: 13.9px;
    line-height: 24px;
  }

  &__publication-date {
    width: 100%;
    margin: 0;
    color: $color-font-dark-75;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 24px;
  }

  &__message {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
  }

  &__like-button-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    box-sizing: border-box;
    width: 42px;
    margin-top: 2px;
  }

  &__text-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2px 0 14px;
  }

  &__text {
    margin: 0;
    color: $color-font-dark-75;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 24px;
  }
}
