@import "../../styles/variables";

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      & .radio-buttons__text {
        color: $color-font-dark-75;
      }

      & .radio-buttons__imitator {
        border: 1px solid $color-font-dark-75;
      }
    }

    & ~ & {
      margin-left: 20px;
    }
  }

  &__imitator {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 1px solid $color-font-dark-25;
    border-radius: 50%;
    transition: 0.5s;

    &::before {
      position: absolute;
      display: none;
      width: 12px;
      height: 12px;
      background: $gradient-primary;
      border-radius: 50%;
      content: " ";
    }
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0%;
  }

  &__text {
    margin-left: 10px;
    color: $color-font-dark-50;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 24px;
    transition: 0.5s;
  }

  & input:checked ~ &__imitator {
    border: 1px solid $color-primary;

    &::before {
      display: block;
    }

    & ~ .radio-buttons__text {
      color: $color-font-dark-75;
    }
  }
}
