extends ../page-template/page-template.pug

include ../../blocks/search-form/search-form.pug 
include ../../components/slider-of-background/slider-of-background.pug 

block variables
  -
    const { sliderOfBackgroundOptions }  =  require("@/state/state.js")
    const pageClass = 'landing'

block content
  main.landing__content.js-landing__content
    +sliderOfBackground(sliderOfBackgroundOptions, 6000)

    .landing__container 

      .landing__search-form.js-landing__search-form
        +searchForm 

      .landing__text-container 
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения







    
    
      