extends ../page-template/page-template.pug

include ../../blocks/search-block/search-block.pug 
include ../../components/slider-of-background/slider-of-background.pug 

block variables
  - const { backgroundSliderOptions }  =  require("@/state/state.js")

block content
  main.landing.js-landing
    +backgroundSlider(backgroundSliderOptions, 6000)

    .landing__container 

      .landing__search-form.js-landing__search-form
        +searchBlock 

      .landing__text-container 
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения







    
    
      