include ../../components/text-field/text-field.pug 
include ../../components/radio-buttons/radio-buttons.pug 
include ../../components/masked-text-field/masked-text-field.pug 
include ../../components/toggle/toggle.pug 
include ../../components/button/button.pug 

mixin registrationForm
  form.registration-form.js-registration-form
    .registration-form__title-container 
      h1.registration-form__title Регистрация аккаунта

    .registration-form__name-container 
      +textField({ name: 'name', placeholder: 'Имя' })

    .registration-form__surname-container 
      +textField({ name: 'surname', placeholder: 'Фамилия' })

    .registration-form__sex-container.js-registration-form__sex-container
      +radioButtons('sex', [{ value: 'man', text: 'Мужчина', checked: true }, { value: 'woman', text: 'Женщина', checked: false }])

    .registration-form__date-of-birth-container.js-registration-form__date-of-birth-container
      +maskedTextField({ title: 'дата рождения', name: 'dateOfBirth' })

    .registration-form__email-container
      +textField({ title: 'данные для входа в сервис', name:'email', type:'email', placeholder: 'Email' })

    .registration-form__password-container
      +textField({ name: 'password', type: 'password',  placeholder: 'Пароль' })

    .registration-form__offers-container.js-registration-form__offers-container
      +toggle({ name: 'offers', text: 'Получать спецпредложения' })

    .registration-form__submit-container
      +button({ text: 'зарегистрироваться', modifier: ['big'], formaction: '/mock-address/change-me' })

    .registration-form__sign-in-container
      p.registration-form__sign-in-label Уже есть аккаунт на Toxin
      +button({ text: 'войти', formaction: 'sign-in.html', modifier: ['transparent', 'wide'] })