@import "../../styles/variables";

.registration-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 380px;
  margin: 0;
  margin-left: 5px;
  padding: 25px 29px 30px;
  background: $color-main-bg;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  @media screen and (max-width: 350px) {
    flex: 1 1 auto;
    padding: 25px 15px 30px;
  }

  &__title-container {
    box-sizing: border-box;
    padding-top: 15px;
  }

  &__title {
    margin: 0;
  }

  &__name-container {
    box-sizing: border-box;
    padding-top: 21px;
  }

  &__surname-container {
    box-sizing: border-box;
    padding-top: 10px;
  }

  &__sex-container {
    box-sizing: border-box;
    padding-top: 8px;
  }

  &__date-of-birth-container {
    box-sizing: border-box;
    padding-top: 23px;
  }

  &__email-container {
    box-sizing: border-box;
    padding-top: 21px;
  }

  &__password-container {
    box-sizing: border-box;
    padding-top: 10px;
  }

  &__offers-container {
    box-sizing: border-box;
    padding-top: 8px;
  }

  &__submit-container {
    box-sizing: border-box;
    padding-top: 23px;
  }

  &__sign-in-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 30px;
  }

  &__sign-in-label {
    margin: 0;
    font-size: 13.8px;
  }
}
