extends ../page-template/page-template.pug

include ../../blocks/sign-in-form/sign-in-form.pug 
include ../../components/slider-of-background/slider-of-background.pug 

block variables
  -
    const { sliderOfBackgroundRegistrationOptions }  =  require("@/state/state.js")
    const pageClass = 'sign-in'

block head
  +head({
    description: 'Войти в аккаунта', 
    title: 'Войти в аккаунта' 
  })

block content
    main.sign-in__content.js-sign-in__content
      +sliderOfBackground(sliderOfBackgroundRegistrationOptions, 6000)

      .sign-in__container 
          +signInForm
