mixin button({ size = 'normal', color = 'purple', formaction = '', type = 'submit',  text = 'Click me' })
  -
    const sizes = { 
      normal: '',
      big: 'button_size-big',  
      minimal: 'button_size-minimal',
      narrow: 'button_size-narrow',
      wide: 'button_size-wide',
      low: 'button_size-low'
    };

    const colors = { 
      purple: 'button_color-purple', 
      white: 'button_color-white'
    }

  if type === 'submit' 
    button(type = type, class = ["button", sizes[size], colors[color]], formaction = formaction) 
      span.button__text #{ text }
  else 
    button(type = type, class = ["button", sizes[size], colors[color]]) 
      span.button__text #{ text }
