mixin button({ modifier = [], formaction = '', type = 'submit',  text = 'Click me' })
  -
    const classDefault = 'button'
    let classes = classDefault
    if (modifier) modifier.map((item) => classes = `${classes} ${classDefault}_${item}`)
    
  button(type = type, class = classes, formaction = formaction) 
    span.button__text #{ text }
