mixin button({ size = 'normal', color = 'purple', formaction = '', type = 'submit',  text = 'Click me' } = {})
  -
    const sizes = { 
      normal: '',
      big: 'button_size_big',  
      minimal: 'button_size_minimal',
      narrow: 'button_size_narrow',
      wide: 'button_size_wide',
      low: 'button_size_low'
    };

    const colors = { 
      purple: 'button_color_purple', 
      white: 'button_color_white'
    }

  if type === 'submit' 
    button(type = type, class = ["button", sizes[size], colors[color]], formaction = formaction) 
      span.button__text #{ text }
  else 
    button(type = type, class = ["button", sizes[size], colors[color]]) 
      span.button__text #{ text }
