mixin menu
  nav.menu.js-menu
    .menu__darkening.js-menu__darkening
    .menu__container.js-menu__container
      ul.menu__list.js-menu__list
        li.menu__item
          a.menu__link(href = "/mock-address/change-me") О нас
        li.menu__item.menu__item_dropping
          span.menu__link-container.js-menu__link-container
            span.menu__link  Услуги
            span.menu__arrow
          ul.menu__sub-list.js-menu__sub-list 
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me") Первая услуга
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me") Вторая услуга
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me")  Третья услуга
        li.menu__item
          a.menu__link(href = "/mock-address/change-me") Вакансии
        li.menu__item
          a.menu__link(href = "/mock-address/change-me") Новости
        li.menu__item.menu__item_dropping
          span.menu__link-container.js-menu__link-container
            span.menu__link  Соглашения
            span.menu__arrow
          ul.menu__sub-list.js-menu__sub-list 
            li.menu__sub-item 
              a.menu__link(href = "/mock-address/change-me") Первое соглашение
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me") Второе соглашение
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me") Третье соглашение
            li.menu__sub-item
              a.menu__link(href = "/mock-address/change-me") Четвертое соглашение

    .menu__burger.js-menu__burger
      span
