mixin menu
  nav.nav.js-nav
    .nav__darkening.js-nav__darkening
    .nav__container.js-nav__container
      ul.nav__list.js-nav__list
        li.nav__item
          a.nav__link(href = "/mock-address/change-me") О нас
        li.nav__item.nav__item_dropping
          span.nav__link-container.js-nav__link-container
            span.nav__link  Услуги
            span.nav__arrow
          ul.nav__sub-list.js-nav__sub-list 
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me") Первая услуга
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me") Вторая услуга
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me")  Третья услуга
        li.nav__item
          a.nav__link(href = "/mock-address/change-me") Вакансии
        li.nav__item
          a.nav__link(href = "/mock-address/change-me") Новости
        li.nav__item.nav__item_dropping
          span.nav__link-container.js-nav__link-container
            span.nav__link(href = "/mock-address/change-me")  Соглашения
            span.nav__arrow
          ul.nav__sub-list.js-nav__sub-list 
            li.nav__sub-item 
              a.nav__link(href = "/mock-address/change-me") Первое соглашение
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me") Второе соглашение
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me") Третье соглашение
            li.nav__sub-item
              a.nav__link(href = "/mock-address/change-me") Четвертое соглашение

    .nav__burger.js-nav__burger
      span
