nav.nav.js-nav
  .nav__darkening.js-nav__darkening
  .nav__container.js-nav__container
    ul.nav__list.js-nav__list
      li.nav__item
        a.nav__link(href = '/') О нас
      li.nav__item.nav__item_dropping
        span.nav__link-container
          a.nav__link(href = '/')  Услуги
          span.nav__arrow.js-nav__arrow
        ul.nav__sub-list.js-nav__sub-list 
          li.nav__sub-item
            a.nav__link(href = '/') Первая услуга
          li.nav__sub-item
            a.nav__link(href = '/') Вторая услуга
          li.nav__sub-item
            a.nav__link(href = '/')  Третья услуга
      li.nav__item
        a.nav__link(href = '/') Вакансии
      li.nav__item
        a.nav__link(href = '/') Новости
      li.nav__item.nav__item_dropping
        span.nav__link-container
          a.nav__link(href = '/')  Соглашения
          span.nav__arrow.js-nav__arrow
        ul.nav__sub-list.js-nav__sub-list 
          li.nav__sub-item 
            a.nav__link(href = '/') Первое соглашение
          li.nav__sub-item
            a.nav__link(href = '/') Второе соглашение
          li.nav__sub-item
            a.nav__link(href = '/') Третье соглашение
          li.nav__sub-item
            a.nav__link(href = '/') Четвертое соглашение

  .nav__burger.js-nav__burger
    span
