@import "../../styles/variables";

body {
  @media screen and (max-width: 1000px) {
    position: relative;
  }
}

.menu {
  position: relative;
  z-index: 3;
  display: flex;
  box-sizing: border-box;
  width: fit-content;

  @media screen and (max-width: 1000px) {
    position: unset;
  }

  &__darkening {
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    background-color: black;
    opacity: 0%;
    transition: 0.5s;

    @media screen and (max-width: 1000px) {
      left: -100%;
    }

    &_active {
      left: 0;
      z-index: 100;
      opacity: 50%;
    }
  }

  &__container {
    box-sizing: border-box;
    transition: 1s;

    @media screen and (max-width: 1000px) {
      position: absolute;
      top: 70px;
      left: -110%;
      z-index: 105;
      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: calc(100% - 70px);
      padding-top: 30px;
      background-color: $color-main-bg;
      box-shadow: inset 7px 16px 15px -11px rgb(50 50 50 / 27%);

      &_active {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
      padding-top: 20px;
    }
  }

  &__item {
    position: relative;
    font-weight: $normal;
    font-size: 13.9px;
    line-height: 17px;
    transition: 0.5s;

    @media screen and (max-width: 1000px) {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 10px 15px;
      font-size: 22px;
    }

    & ~ .menu__item {
      margin-left: 20.5px;

      @media screen and (max-width: 1000px) {
        margin-left: 0;
      }
    }

    &:hover {
      color: $color-font-dark-75;
    }

    &_dropping {
      & .menu__link-container {
        display: flex;
        align-items: flex-end;
        cursor: pointer;
      }

      & .menu__arrow {
        cursor: pointer;

        &::after {
          color: $color-font-dark-50;
          font-size: 24px;
          font-family: toxin-icons;
          text-transform: none;
          vertical-align: bottom;
          content: "\e902";
        }
      }
    }
  }

  &__link {
    color: $color-font-dark-50;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      color: $color-font-dark-75;
    }

    & ~ & {
      border-top: none;
    }
  }

  &__sub-list {
    position: absolute;
    box-sizing: border-box;
    width: max-content;
    height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    opacity: 0%;
    transition: 0.75s;

    @media screen and (max-width: 1000px) {
      position: relative;
      width: 100%;
      padding: 0;
    }

    &_visible {
      height: fit-content;
      padding: 30px 0 0;
      opacity: 100%;

      @media screen and (max-width: 1000px) {
        padding: 15px 0 0;
      }
    }
  }

  &__sub-item {
    z-index: 10;
    box-sizing: border-box;
    padding: 15px;
    background: $color-main-bg;
    border-bottom: 1px solid rgb(31 32 65 / 5%);

    @media screen and (max-width: 1000px) {
      padding: 7.5px 15px;
      line-height: 1.3;
      box-shadow: none;
    }

    &:hover {
      background: $gradient-primary;
      transition: none;

      & .menu__link {
        color: $color-font-light;
      }
    }

    & ~ & {
      border-top: 1px dashed $color-font-dark-25;
    }
  }

  &__burger {
    position: relative;
    z-index: 202;
    display: none;
    box-sizing: border-box;
    width: 30px;
    height: 20px;

    @media screen and (max-width: 1000px) {
      display: block;
    }

    &::before,
    &::after,
    & span {
      position: absolute;
      width: 100%;
      height: 2px;
      background: $gradient-primary;
      border-radius: 1px;
      content: "";
    }

    &::before {
      top: 0;
      left: 0;
      transform-origin: top left;
      transition: 0.75s;
    }

    &::after {
      bottom: 0;
      left: 0;
      transform-origin: bottom left;
      transition: 0.75s;
    }

    & span {
      top: 9px;
      left: 0;
      opacity: 100%;
      transition: 0.5s;
    }

    &_active {
      &::before {
        transform: rotate(39deg);
      }

      &::after {
        transform: rotate(-39deg);
      }

      & span {
        opacity: 0%;
      }
    }
  }
}
