mixin likeButton({ quantity = 0, liked = false })
  - const likedMod = liked ? 'like-button_liked' : '' 

  div(class = ['like-button', 'js-like-button', likedMod])
    span.like-button__icon 
    span.like-button__quantity.js-like-button__quantity #{ quantity }

    