extends ../page-template/page-template.pug

include ../../blocks/header/header.pug 
include ../../blocks/room-card/room-card.pug 
include ../../blocks/filters-form/filters-form.pug

block variables
  -
    const pageClass = 'search-room'
    const { 
      roomsOptions  =  [], checkboxButtonsOptions  =  {}, richCheckboxButtonsOptions  =  {}, 
      expandableCheckboxListOptions  =  {}
    }  =  require("@/state/state.js")
    

block head
  +head({
    description: 'Номера, которые мы для вас подобрали',  
    title: 'Номера, которые мы для вас подобрали' 
  })

block header
  +header({ modifier: 'with-filter-button' })

block content
  main.search-room__content.js-search-room__content
    .search-room__container.js-search-room__container
      +filtersForm
      
      article.search-room__results.js-search-room__results
        h1.search-room__results-title Номера, которые мы для вас подобрали
        
        if roomsOptions
        .search-room__results-list   
          each item in roomsOptions
            .search-room__results-item.js-search-room__results-item
              +roomCard(item)

          .search-room__results-pagination
            +pagination(15, "1 – 12 из 100+ вариантов аренды")
