@import "~normalize.css";
@import "@/styles/variables";
@import "@/fonts/fonts.css";
@include start-page-stiles;

.search-room {
  &__header {
    position: relative;
    z-index: 20;

    @media screen and (max-width: 1000px) {
      position: unset;
    }
  }

  &__content {
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 56px;
    border-bottom: 1px solid $color-font-dark-25;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 1150px) {
      position: relative;
      justify-content: center;
    }
  }

  &__results {
    flex: 0 0 auto;
    width: 100%;
    max-width: 834px;
  }

  &__results-title {
    margin: 0;
    color: $color-font-dark;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    @media screen and (max-width: 860px) {
      text-align: center;
    }
  }

  &__results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 22px;

    @media screen and (max-width: 860px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 500px) {
      padding-top: 35px;
    }
  }

  &__results-item {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: fit-content;
    width: 100%;
    max-width: 270px;
    padding-bottom: 20px;

    @media screen and (max-width: 860px) {
      max-width: calc(50% - 10px);
    }

    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
  }

  &__results-pagination {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-right: 13px;
    padding-top: 19.5px;
  }
}
