extends ../page-template/page-template.pug

include ../../blocks/room-card-block/room-card-block.pug 
include ../../blocks/filters-block/filters-block.pug

block variables
  -
    const { 
      roomsOptions  =  [], checkboxButtonsOptions  =  {}, richCheckboxButtonsOptions  =  {}, 
      expandableCheckboxListOptions  =  {}
    }  =  require("@/state/state.js")

block head
  +head({
    description: 'Номера, которые мы для вас подобрали',  
    title: 'Номера, которые мы для вас подобрали' 
  })

block content
  main.search-room.js-search-room
    .search-room__container 
      +filters
      
      article.search-room__results.js-search-room__results
        h1.search-room__results-title Номера, которые мы для вас подобрали
        
        if roomsOptions
        .search-room__results-list   
          each item in roomsOptions
            .search-room__results-item
              +roomCardBlock(item)

          .search-room__results-pagination
            +pagination(15, "1 – 12 из 100+ вариантов аренды")
