mixin backgroundSlider(imgData = [])
  .slider-of-background.js-slider-of-background
    if imgData
      - i = 0
      each item in imgData
        - const { src, alt } = item
        if i
          img.slider-of-background__image(src != src alt != alt)
        else 
          img.slider-of-background__image.slider-of-background__image_active(src != src alt != alt)
          - i++
  