mixin sliderOfBackground(imgData, interval = 5000)

  if (imgData)
    .slider-of-background.js-slider-of-background(data-interval = interval)
      if imgData
        - i = 0
        each item in imgData
          - const { src, alt } = item
          if i
            img.slider-of-background__image(src = src alt = alt)
          else 
            img.slider-of-background__image.slider-of-background__image_active(src = src alt = alt, loading = "eager")
            - i++
  