include ../../components/text-field/text-field.pug 
include ../../components/button/button.pug 
mixin signInBlock
  form.sign-in-block
    .sign-in-block__title-container 
      h1.sign-in-block__title Войти

    .sign-in-block__email-container
      +textField({ name: 'email', type: 'email',  placeholder: 'Email' })

    .sign-in-block__password-container
      +textField({ name: 'password', type: 'password',  placeholder: 'Пароль' })

    .sign-in-block__submit-container
      +button({ text: 'войти', isSubmit: true, modifier: 'big' })

    .sign-in-block__button-container
      p.sign-in-block__button-label Нет аккаунта на Toxin?
      +button({ text: 'создать', href: 'registration.html', modifier: 'transparent' })