include ../../components/text-field/text-field.pug 
include ../../components/radio-button/radio-button.pug 
include ../../components/masked-text-field/masked-text-field.pug 
include ../../components/toggle/toggle.pug 
include ../../components/button/button.pug 

mixin registrationBlock
  form.registration-block 
    .registration-block__title-container 
      h1.registration-block__title Регистрация аккаунта

    .registration-block__name-container 
      +textField({ name: "name", placeholder: "Имя"})

    .registration-block__surname-container 
      +textField({name: "surname", placeholder: "Фамилия"})

    .registration-block__sex-container 
      +radioButton("sex", [{value: "man", text: "Мужчина", checked: true}, {value: "woman", text: "Женщина", checked: false}])

    .registration-block__date-of-birth-container
      +maskedTextField({title: "дата рождения", name: "dateOfBirth"})

    .registration-block__email-container
      +textField({ title: "данные для входа в сервис", name:"email", type:"email", placeholder: "Email"})

    .registration-block__password-container
      +textField({name: "password", type: "password",  placeholder: "Пароль"})

    .registration-block__offers-container
      +toggle({ name: "offers", text: "Получать спецпредложения"})

    .registration-block__submit-container
      +button({text: "зарегистрироваться", isSubmit: true, modificator: "big"})

    .registration-block__sign-in-container
      p.registration-block__sign-in-label Уже есть аккаунт на Toxin
      +button({text: "войти", href: 'signIn.html', modificator: "transparent"})