include __item/expandable-checkbox-list__item.pug
mixin expandableCheckboxList(options)
  -  const { title = "expandable checkbox list",  itemOptions } = options;

  article.expandable-checkbox-list
    .expandable-checkbox-list__container-of-title.js-expandable-checkbox-list__container-of-title 
      h3.expandable-checkbox-list__title #{title}
      
    .expandable-checkbox-list__list  
      each item in options.itemOptions
        +expandableCheckboxList__item(item)

