include ../../blocks/header/header.pug 
include ../../blocks/footer/footer.pug 

main.headers 
  .headers__header-container.js-headers__header-container
    +header({})

  .headers__header-container.js-headers__header-container
    +header({ isLogIn: true, userName: 'Юлий Цезарь' })

  .headers__footer-container 
    +footer