include ../review/review.pug

mixin reviews(options)
  -
    const title = options.title || "отзывы"
    const reviewsData = options.reviewsData || undefined

  .reviews 
    h2.reviews__title #{title}
    p.reviews__number-of-reviews #{reviewsData.length} отзыва
    .reviews__conteiner
      each item in reviewsData
        +review(item)
      