include ../review/review.pug

mixin reviews({ title = 'отзывы', reviewsData = undefined })
  -
    const haveReviewsData = reviewsData !== undefined
    const numberReviews = haveReviewsData ? reviewsData.length : 0
    const { getDecline } = require('@/utilities/utilities.js')
    const reviewWord = getDecline(numberReviews, ['отзыв', 'отзыва', 'отзывов'])

  section.reviews.js-reviews
    h2.reviews__title #{ title }
    p.reviews__number-of-reviews #{ numberReviews } #{ reviewWord }
    .reviews__container.js-reviews__container
      if haveReviewsData
        each item in reviewsData
          .reviews__review.js-reviews__review
            +review(item)
      