include ../review/review.pug

mixin reviews(options = {})
  -
    const { title = 'отзывы', reviewsData = undefined } = options
    const haveReviewsData = reviewsData !== undefined
    const numberReviews = haveReviewsData ? reviewsData.length : 0
    const { getDecline } = require('@/scripts/getDecline.js')
    const reviewWord = getDecline(numberReviews, ['отзыв', 'отзыва', 'отзывов'])

  section.reviews.js-reviews
    h2.reviews__title #{ title }
    p.reviews__number-of-reviews #{ numberReviews } #{ reviewWord }
    .reviews__container
      if haveReviewsData
        each item in reviewsData
          +review(item)
      