@import "~normalize.css"
@import "@/styles/variables.sass"
@import "@/fonts/fonts.css"


+start-page-stiles
  
.elements
  box-sizing: border-box
  padding-top: 40px

  &__container
    max-width: 1200px
    padding: 0 20px
    display: flex
    flex: 1 1 auto
    justify-content: space-between
    margin: auto
    flex-wrap: wrap
    box-sizing: border-box

  &__title
    text-transform: uppercase
    margin: 0
    padding-bottom: 3px
    box-sizing: border-box

    &_middle-padding
      padding-bottom: 13px

    &_high-padding
      padding-bottom: 16px

  &__column
    max-width: 320px
    width: 100%
    flex: 1 1 auto
    box-sizing: border-box

    &_center
      max-width: 265px

    &_right
      max-width: 322px

  &__text-field-container
    box-sizing: border-box
    padding-bottom: 106px

  &__guests-container
    box-sizing: border-box
    padding-bottom: 24px

  &__masked-field-container
    box-sizing: border-box
    padding-bottom: 41px

  &__date-dropdown-container
    box-sizing: border-box
    padding-bottom: 41px

  &__date-filter-container
    box-sizing: border-box
    padding-bottom: 43px
    max-width: 266px

  &__subscription-field-container
    box-sizing: border-box
    padding-bottom: 88px
    max-width: 266px

  &__convenience-container 
    box-sizing: border-box
    padding-bottom: 258px
    max-width: 266px

  &__expandable-checkbox-container
    box-sizing: border-box
    padding-bottom: 43px
    max-width: 266px
    
  &__checkbox-buttons-container
    box-sizing: border-box
    padding-bottom: 38px

  &__radio-buttons-container
    box-sizing: border-box
    padding-bottom: 40px

  &__toggle-container
    box-sizing: border-box
    padding-bottom: 44px

  &__toggle
    padding-top: 10px
    box-sizing: border-box

  &__like-button-container
    display: flex
    max-width: 89px
    justify-content: space-between
    box-sizing: border-box
    flex: 1 1 auto
    box-sizing: border-box
    padding-bottom: 41px

  &__rate-button-container
    display: flex
    max-width: 260px
    flex: 1 1 auto
    justify-content: space-between
    padding-bottom: 518px

  &__slider-container 
    max-width: 266px
    padding-bottom: 45px

  &__buttons-container
    padding-bottom: 42px

  &__button ~ &__button
    margin-top: 30px

  &__pagination-container
    padding-bottom: 535px

  &__row
    width: 100%
    display: flex
    flex: 1 1 auto
    box-sizing: border-box
    padding-top: 182px
    justify-content: space-between

  &__review-container
    max-width: 714px
    padding-top: 30px


