include ../../components/text-field/text-field.pug 
include ../../components/dropdown/dropdown.pug
include ../../components/masked-text-field/masked-text-field.pug  
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug 
include ../../components/subscription-field/subscription-field.pug
include ../../components/radio-buttons/radio-buttons.pug 
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug 
include ../../components/slider/slider.pug
include ../../components/button/button.pug 
include ../../components/bullet-list/bullet-list.pug
include ../../components/information-block/information-block.pug
include ../../components/review/review.pug
include ../../components/toggle/toggle.pug
include ../../components/pagination/pagination.pug 

-
  const { 
    checkboxButtonsOptions, richCheckboxButtonsOptions, expandableCheckboxListOptions,
    informationItems, reviewsData, rulesItems
  } = require('@/state/state.js')

.elements.js-elements
  .elements__container
    .elements__column.elements__column_left
      .elements__text-field-container 
        +textField({ title: 'text field', name: 'textField', placeholder: 'Email' }) 

      .elements__guests-container
        +dropdown({ title: 'dropdown', name: 'guestsQuantity' })

      .elements__masked-field-container
        +maskedTextField({ title: 'masked text field', name: 'dateOfBirth' })

      .elements__date-dropdown-container
        +dateDropdown({ className: 'date-selection', titles: ['date dropdown', 'date dropdown'] })

      .elements__date-filter-container.js-date-filter-container
        +dateDropdown({ 
          title: 'filter date dropdown', name: 'dateFilter', modifier: "single-field"
        })

      h3.elements__title subscription text field
      .elements__subscription-field-container
        +subscriptionField

      .elements__convenience-container 
        +dropdown({ title: 'dropdown', name: 'convenience', modifier: 'convenience', 
          items: [{ title: 'спальни', quantity: 2 }, { title: 'кровати', quantity: 2 }, { title: 'ванные комнаты', quantity: 0 }]
        })
      
      .elements__expandable-checkbox-container
        - expandableCheckboxListOptions.title = 'expandable checkbox list'
        +checkboxButtons(expandableCheckboxListOptions)
     
    .elements__column.elements__column_center 
      .elements__checkbox-buttons-container
        - checkboxButtonsOptions.title = 'checkbox buttons'  
        +checkboxButtons(checkboxButtonsOptions)

      h3.elements__title.elements__title_middle-padding Radio Buttons
      .elements__radio-buttons-container 
        +radioButtons('sex', [
          { value: 'man', text: 'Мужчина', checked: true }, 
          { value: 'woman', text: 'Женщина', checked: false }
        ])

      h3.elements__title toggle
      .elements__toggle-container
        .elements__toggle
          +toggle({ text: 'Получать спецпредложения', checked: true})
        .elements__toggle
          +toggle({ text: 'Получать спецпредложения'})

      h3.elements__title.elements__title_high-padding like button
      .elements__like-button-container 
        +likeButton({quantity: 2})
        +likeButton({quantity: 12, liked: true})

      h3.elements__title.elements__title_high-padding rate button
      .elements__rate-button-container 
        +rateButton(4)
        +rateButton(5)
         
      .elements__rich-checkbox-container
        - richCheckboxButtonsOptions.title = 'rich checkbox buttons'
        +checkboxButtons(richCheckboxButtonsOptions)


    .elements__column.elements__column_right
      .elements__slider-container 
        +slider({ title: 'range slider', min: 0, max: 16000, initValues: [5000, 10000] })

      h3.elements__title.elements__title_high-padding buttons
      .elements__buttons-container
        .elements__button
          +button({})
        .elements__button
          +button({modifier: ['transparent']})
        .elements__button
          +button({modifier: ['minimal']})
        .elements__button
          +button({text: 'перейти к оплате', modifier: ['big'], isSubmit: true})

      h3.elements__title.elements__title_high-padding pagination
      .elements__pagination-container
        +pagination(15, '1 – 12 из 100+ вариантов аренды')
        
      .elements__bullet-list-container 
        +bulletList('BULLET LIST', rulesItems)

    .elements__row 
      .elements__information-container 
        +informationBlock({ itemOptions: [informationItems[0], informationItems[1]] })

      .elements__review-container 
        +review(reviewsData[0])


        