mixin richCheckboxButtons__item(checkboxName, checkboxChecked, itemTitle, itemText)
  include ../../checkbox/checkbox.pug
  label.richCheckboxButtons__item
    +checkbox(checkboxName, checkboxChecked)
    span.richCheckboxButtons__itemTextContent 
      spun.richCheckboxButtons__itemTitle #{itemTitle}
      span.richCheckboxButtons__itemText #{itemText}