$main-font: montserrat, arial, sans-serif;
$normal: 500;
$bold: 700;
$color-font-dark: #1f2041;
$color-font-dark-75: rgba(31 32 65 / 75%);
$color-font-dark-50: rgba(31 32 65 / 50%);
$color-font-dark-25: rgba(31 32 65 / 25%);
$color-font-dark-10: rgba(31 32 65 / 10%);
$color-font-dark-5: rgba(31 32 65 / 5%);
$color-font-light: white;
$color-main-bg: white;
$color-primary: #bc9cff;
$color-secondary: #6fcf97;
$color-accent: #8ba4f9;
$color-secondary-accent: #66d2ea;
$gradient-primary: linear-gradient(180deg, $color-primary 0%, $color-accent 100%);
$gradient-primary-lite: linear-gradient(180deg, #bc9cff80 0%, #8ba4f980 100%);
$gradient-secondary: linear-gradient(180deg, $color-secondary 0%, $color-secondary-accent 100%);

@mixin start-page-stiles {
  html {
    font-weight: $normal;
    font-size: 14px;
    font-family: $main-font;
    line-height: 24px;
  }

  h1 {
    font-weight: $bold;
    font-size: 24px;
    font-family: $main-font;
    line-height: 29.26px;
  }

  h2 {
    font-weight: $bold;
    font-size: 19px;
    font-family: $main-font;
    line-height: 23.16px;
  }

  h3 {
    font-weight: $bold;
    font-size: 12px;
    font-family: $main-font;
    line-height: 14.63px;
  }
}
