extends ../page-template/page-template.pug

include ../../blocks/registration-block/registration-block.pug 
include ../../components/slider-of-background/slider-of-background.pug 

block variables
  - const { backgroundSliderRegistrationOptions }  =  require("@/scripts/state.js")

block head
  +head({
    description: 'Регистрация аккаунта', 
    title: 'Регистрация аккаунта' 
  })

block content

  main.registration 
    +backgroundSlider(backgroundSliderRegistrationOptions, 6000)

    .registration__container 
      +registrationBlock

