extends ../page-template/page-template.pug

include ../../blocks/registration-block/registration-block.pug 
include ../../components/slider-of-background/slider-of-background.pug 

block variables
  -
    const { backgroundSliderRegistrationOptions }  =  require("@/state/state.js")
    const pageClass = 'registration'

block head
  +head({
    description: 'Регистрация аккаунта', 
    title: 'Регистрация аккаунта' 
  })

block content

  main.registration__content.js-registration__content
    +backgroundSlider(backgroundSliderRegistrationOptions, 6000)

    .registration__container.js-registration__container
      +registrationBlock

