extends ../page-template/page-template.pug

include ../../blocks/information-about-room/information-about-room.pug 
include ../../blocks/booking-form/booking-form.pug
include ../../components/room-gallery/room-gallery.pug 

block variables
  -
    const { informationItems, reviewsData, rulesItems, roomGalleryData }  =  require("@/state/state.js")
    const pageClass = 'room'


block head
  +head({
    description: 'Описание номера', 
    title: 'Описание номера' 
  })

block content
  main.room__content.js-room__content
    +roomGallery(roomGalleryData)

    .room__container 
      .room__room-information-container.js-room__room-information-container
        +InformationAboutRoom(informationItems, reviewsData, rulesItems)

      .room__booking-container.js-room__booking-container
        +bookingForm
