extends ../page-template/page-template.pug

include ../../blocks/information-about-room/information-about-room.pug 
include ../../blocks/booking-block/booking-block.pug
include ../../components/room-gallery/room-gallery.pug 

block variables
  -const { informationItems, reviewsData, rulesItems, roomGalleryData }  =  require("@/state/state.js")


block head
  +head({
    description: 'Описание номера', 
    title: 'Описание номера' 
  })

block content
  main.room.js-room
    +roomGallery(roomGalleryData)

    .room__container 
      .room__room-information-container.js-room__room-information-container
        +roomInformationBlock(informationItems, reviewsData, rulesItems)

      .room__booking-container.js-room__booking-container
        +bookingBlock({})
