include ../../components/logo/logo.pug
include ../../components/subscription-field/subscription-field.pug
mixin footer
  footer.footer 
    .footer__container 
      .footer__widgets 
        .footer__description 
          +logo  
          p.footer__description-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        
        .footer__navigation 
          h3.footer__title навигация
          ul.footer__list
            li.footer__item 
              a.footer__link(href = "/mock-address/change-me") О нас
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Новости
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Служба поддержки
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Услуги

        .footer__about-us 
          h3.footer__title о нас
          ul.footer__list
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") О сервисе
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Наша команда
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Вакансии
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Инвесторы

        .footer__support 
          h3.footer__title cлужба поддержки
          ul.footer__list
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Соглашения
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Сообщества
            li.footer__item
              a.footer__link(href = "/mock-address/change-me") Связь с нами

        .footer__subscribe
          h3.footer__title подписка
          p.footer__subscribe-text Получайте специальные предложения и новости сервиса
          +subscriptionField()

      .footer__copyright-block
        p.footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__socials 
          a.footer__social-link.footer__social-link_twitter(href = "/mock-address/change-me")
          a.footer__social-link.footer__social-link_facebook(href = "/mock-address/change-me")   
          a.footer__social-link.footer__social-link_instagram(href = "/mock-address/change-me") 