include ../../components/image-slider/image-slider.pug 
include ../../components/rate-button/rate-button.pug 

mixin roomCardBlock(options)
  -
    const slides = options.slides || []
    const roomNumber = options.roomNumber || 000
    const isLux = options.isLux || false 
    const price = options.price || 0
    const stars = options.stars || 0
    const reviewsQuantity = options.reviewsQuantity || 0
    const href = options.link || "#"

  .room-card-block.js-room-card-block
    +imageSlider(slides)
    a.room-card-block__information(href != href) 
      .room-card-block__header 
        p.room-card-block__title 
          span.room-card-block__number-symbol №
          span.room-card-block__number #{roomNumber}
          if isLux
            span.room-card-block__tag люкс

        p.room-card-block__room-price
          span.room-card-block__price.js-room-card-block__price #{price}
          span.room-card-block__period в сутки

      .room-card-block__feedback
        +rateButton(stars)
    
        p.room-card-block__reviews 
          span.room-card-block__reviews-quantity #{reviewsQuantity}
          span.room-card-block__reviews-text Отзывов

    