include ../../components/image-slider/image-slider.pug 
include ../../components/rate-button/rate-button.pug 

mixin roomCardBlock({ slides = [], roomNumber = 0, isLux = false, price = 0, stars = 0, reviewsQuantity = 0, link = '/mock-address/change-me' })
  -
    let redactedPrice
    {
      const { numberMargins } = require('../../scripts/numberMargins.js')
      redactedPrice = numberMargins(price)
    }

  article.room-card-block.js-room-card-block
    +imageSlider(slides)
    a.room-card-block__information(href = link) 
      .room-card-block__header 
        h2.room-card-block__title 
          span.room-card-block__number-symbol №
          span.room-card-block__number #{roomNumber}
          if isLux
            span.room-card-block__tag люкс

        p.room-card-block__room-price
          span.room-card-block__price.js-room-card-block__price #{redactedPrice}&#8381
          span.room-card-block__period в сутки

      .room-card-block__feedback
        +rateButton(stars)
    
        p.room-card-block__reviews 
          span.room-card-block__reviews-quantity #{reviewsQuantity}
          span.room-card-block__reviews-text Отзывов

    