@import "../../styles/variables";

.information-block {
  box-sizing: border-box;
  width: 100%;

  &__title {
    margin: 0;

    @media screen and (max-width: 650px) {
      text-align: center;
    }
  }

  &__list {
    width: max-content;
    margin: 0;
    padding-left: 3px;
  }

  &__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 24px 24px 0;
    transition: 0.5s;

    &:hover {
      transform: scale(1.04);

      & .information-block__item-title {
        color: $purple;
        opacity: 75%;
      }

      & .information-block__text {
        color: $purple;
        opacity: 50%;
      }
    }

    & ~ & {
      border-top: 1px solid $dark-shade-10;
    }
  }

  &__block-image {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
  }

  &__text-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    padding-left: 14px;
  }

  &__item-title {
    margin: 0;
    color: $dark-shade-75;
    font-weight: $bold;
    font-size: 14px;
    line-height: 15px;
    transition: 0.5s;
  }

  &__text {
    margin: 0;
    color: $dark-shade-75;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 15px;
    transition: 0.5s;
  }
}
