include ../../checkbox/checkbox.pug

mixin expandableCheckboxList__item(options = {})
  - const { checkboxName = 'checkbox', checkboxChecked = false, itemText = 'expandable checkbox list item'} = options

  label.expandable-checkbox-list__item
        +checkbox(checkboxName, checkboxChecked)
        span.expandable-checkbox-list__label-text #{ itemText }