mixin bulletList(titleText, itemsText)
  .bulletList
    h3.bulletList__title #{titleText}
    ul.bulletList__itemsList 
      each text in itemsText 
        li.bulletList__item 
          spun.bulletList__itemText #{text}