include ../../blocks/header/header.pug 
include ../../blocks/footer/footer.pug 
include ../../components/head/head.pug

block variables

doctype html
html(lang = "ru")
  block head
    +head({
      description: 'Лучшие номера для вашей работы, отдыха и просто вдохновения', 
      keywords: 'номер, отель, номер в отеле, поис номеров, гостиница', 
      title: 'Найдём номера под ваши пожелания' 
    })
  body(class = `${pageClass} js-${pageClass}`)
    div(class = `${pageClass}__header js-${pageClass}__header`)
      block header
        +header({})

    block content

    block footer
      +footer
