include ../text-field/text-field.pug

mixin maskedTextField({ title = 'masked text field', name = 'maskedTextField' })

  .masked-text-field.js-masked-text-field
    +textField({ title, name, placeholder: "ДД.ММ.ГГГГ" })
