include ../text-field/text-field.pug

mixin maskedTextField(options = {})
  -  const { title = 'masked text field', name = 'maskedTextField' } = options
  .masked-text-field.js-masked-text-field
    +textField({ title, name, placeholder: "ДД.ММ.ГГГГ" })
