include ../../components/textField/textField.pug 
include ../../components/radioButton/radioButton.pug 
include ../../components/maskedTextField/maskedTextField.pug 
include ../../components/toggle/toggle.pug 
include ../../components/button/button.pug 

form.registrationBlock 
  .registrationBlock__titleConteiner 
    h1.registrationBlock__title Регистрация аккаунта

  .registrationBlock__nameConteiner 
    +textField('', "name", "text", "Имя")

  .registrationBlock__surnameConteiner 
    +textField('', "surname", "text", "Фамилия")

  .registrationBlock__sexConteiner 
    +radioButton("sex", [{value: "man", text: "Мужчина", checked: true}, {value: "woman", text: "Женщина", checked: false}])

  .registrationBlock__dateOfBirthConteiner
    +maskedTextField("дата рождения", "dateOfBirth")

  .registrationBlock__emailConteiner
    +textField("данные для входа в сервис", "email", "email", "Email")

  .registrationBlock__passwordConteiner
    +textField('', "password", "password", "Пароль")

  .registrationBlock__offersConteiner
    +toggle("offers", "on", "Получать спецпредложения")

  .registrationBlock__submitConteiner
    +button("перейти к оплате", true, '', "button", "button_big")

  .registrationBlock__signInConteiner
    p.registrationBlock__signInLabel Уже есть аккаунт на Toxin
    +button("войти", false, 'signIn.html', "button", "button_transparent")