@import '../../styles/variables.sass'
  
.filter-date-dropdown
  width: 100%
  height: fit-content
  position: relative
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  &__container
    width: 100%
    position: relative

    &::after
      content: 'expand_more'
      font-family: 'Material Icons'
      text-transform: none
      font-size: 24px
      color: $dark-shade-50
      position: absolute
      right: 10px
      bottom: 10px
      cursor: pointer
      z-index: 1

    & .filter-date-dropdown__title
      text-transform: uppercase
      margin: 0 0 5.5px 0

    & .filter-date-dropdown__field
      width: 100%
      height: 44px
      border: 1px solid $dark-shade-25
      background-color: transparent
      box-sizing: border-box
      border-radius: 5px
      font-size: 14px
      font-weight: $normal
      line-height: 24px
      color: $dark-shade-75
      padding: 15px 13px
      position: relative
      z-index: 2
      cursor: pointer


      &::placeholder
        color: $dark-shade-75
        font-size: 14px
        line-height: 18px

      &:focus
        outline: none
        border: 1px solid $dark-shade-50

      &:hover
        border: 1px solid $dark-shade-50

  & .datepicker
    width: 320px
    height: 0
    opacity: 0
    top: 68px

    &_visible
      height: auto
      opacity: 1
    
    @media screen and ( max-width: 350px)
      width: 100%