mixin dropdown__item(item, initQuantity)
  .dropdown__item
    p.dropdown__title #{item} 
    .dropdown__quantityBlok
      .dropdown__button.dropdown__minusButton -
      p.dropdown__itemValue #{initQuantity}
      .dropdown__button.dropdown__plusButton +