mixin bulletList(titleText, itemsText)
  section.bullet-list
    h2.bullet-list__title #{titleText}
    ul.bullet-list__list 
      each text in itemsText 
        li.bullet-list__item 
          p.bullet-list__text #{text}