mixin textField(titleText, fieldName, fieldType, placeholder)
  if titleText
    h3.textField__title #{titleText}
  input.textField__field(type != fieldType, name != fieldName, placeholder != placeholder)