mixin likeButton(quantityLikes, liked)
  if liked
    .likeButton.liked
      span.likeButton__icon.fa-heart
      span.likeButton__quantity #{quantityLikes}

  else 
    .likeButton
      span.likeButton__icon.fa-heart-o
      span.likeButton__quantity #{quantityLikes}
    