mixin subscriptionField(fieldName = "Email", fieldPlaceholder = "Email")
  form.subscription-field(action="#", method = "post")
    input.subscription-field__field(name !=fieldName, type = "email", placeholder != fieldPlaceholder )
    button.subscription-field__button(type = "submit")       