include ../control-panel/control-panel.pug

mixin datePicker({ startDate = '', endDate = '' })
  - const classes = 'date-picker js-date-picker'

  div(class = classes, data-start = startDate, data-end = endDate)
    .date-picker__control-panel
      +controlPanel