include ../../components/text-field/text-field.pug 
include ../../components/button/button.pug 
mixin signInForm
  form.sign-in-form
    .sign-in-form__title-container 
      h1.sign-in-form__title Войти

    .sign-in-form__email-container
      +textField({ name: 'email', type: 'email',  placeholder: 'Email' })

    .sign-in-form__password-container
      +textField({ name: 'password', type: 'password',  placeholder: 'Пароль' })

    .sign-in-form__submit-container
      +button({ text: 'войти', modifier: ['big'], formaction: '/mock-address/change-me' })

    .sign-in-form__button-container
      p.sign-in-form__button-label Нет аккаунта на Toxin?
      +button({ text: 'создать', formaction: 'registration.html', modifier: ['transparent', 'narrow'] })