mixin toggle(checkboxName, checkboxValue, toggleText)
  label.toggle
    include __checkbox/toggle__checkbox.pug
    +toggle__checkbox(checkboxName, checkboxValue)
    include __switch/toggle__switch.pug
    include __text/toggle__text.pug
    +toggle__text(toggleText)
    