@import "../../styles/variables";

.toggle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;

  &:hover {
    .toggle__switch {
      border: 1px solid $color-primary;
      opacity: 75%;
    }

    .toggle__text {
      color: $color-primary;
      opacity: 75%;
    }
  }

  &__checkbox {
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0%;
  }

  &__switch {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    padding: 4px;
    background-color: $color-main-bg;
    border: 1px solid $color-font-dark-25;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  &__circle {
    width: 12px;
    height: 12px;
    margin-left: 0;
    background: linear-gradient(180deg, $color-font-dark-25 0%, $color-font-dark-25 100%);
    border-radius: 10px;
    transition: 0.5s;
  }

  &__text {
    margin: 0;
    margin-left: 10px;
    color: $color-font-dark-75;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.5s;
  }

  & input:checked ~ &__switch {
    border-color: $color-primary;

    & .toggle__circle {
      margin-left: 18px;
      background: $gradient-primary;
    }
  }
}
