@import "../../styles/variables";

.toggle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;

  &__checkbox {
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0%;
  }

  &__switch {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  &__circle {
    width: 12px;
    height: 12px;
    margin-left: 0;
    background: linear-gradient(180deg, $dark-shade-25 0%, $dark-shade-25 100%);
    border-radius: 10px;
    transition: 0.5s;
  }

  &__text {
    margin: 0;
    margin-left: 10px;
    color: $dark-shade-75;
    font-weight: $normal;
    font-size: 13.8px;
    line-height: 24px;
    cursor: pointer;
  }

  & input:checked ~ &__switch {
    border-color: $purple;

    & .toggle__circle {
      margin-left: 18px;
      background: $gradient-purple-blue;
    }
  }
}
