include components/text-field/text-field.pug 
include components/dropdown/dropdown.pug
include components/masked-text-field/masked-text-field.pug  
include components/expandable-checkbox-list/expandable-checkbox-list.pug
include components/date-dropdown/date-dropdown.pug
include components/checkbox-buttons/checkbox-buttons.pug 
include components/subscription-field/subscription-field.pug
include components/radio-button/radio-button.pug 
include components/like-button/like-button.pug
include components/rate-button/rate-button.pug 
include components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
include components/slider/slider.pug
include components/button/button.pug 
include components/bullet-list/bullet-list.pug
include components/information-block/information-block.pug
include components/review/review.pug
include components/toggle/toggle.pug
include components/pagination/pagination.pug 
include components/filter-date-dropdown/filter-date-dropdown.pug

-
  const { 
    checkboxButtonsOptions, richCheckboxButtonsOptions, expandableCheckboxListOptions,
    informationItems, reviewsData, rulesItems
  } = require('./scripts/state.js')

.main 
  .main__container
    .main__column.main__column_left
      .main__text-field-container 
        +textField({ title: 'text field', name: 'textField', placeholder: 'Email' }) 

      .main__guests-container
        +dropdown({ className: 'guests-quantity', title: 'dropdown', name: 'guestsQuantity' })

      .main__masked-field-container
        +maskedTextField({ title: 'masked text field', name: 'dateOfBirth' })

      .main__date-dropdown-container
        +dateDropdown({ className: 'date-selection', titles: ['date dropdown', 'date dropdown'] })

      .main__date-filter-container.js-date-filter-container
        +filterDateDropdown({ 
          className: 'date-filter', title: 'filter date dropdown', name: 'dateFilter' 
        })

      h3.main__title.subscription-title subscription text field
      .main__subscription-field-container
        +subscriptionField

      .main__convenience-container 
        +dropdown({ className: 'convenience', title: 'dropdown', name: 'convenience' })
      
      .main__expandable-checkbox-container
        - expandableCheckboxListOptions.title = 'expandable checkbox list'
        +expandableCheckboxList(expandableCheckboxListOptions)
     
    .main__column.main__column_center 
      .main__checkbox-buttons-container
        - checkboxButtonsOptions.title = 'checkbox buttons'  
        +checkboxButtons(checkboxButtonsOptions)

      h3.main__title.radio-button-title Radio Buttons
      .main__radio-buttons-container 
        +radioButton('sex', [
          { value: 'man', text: 'Мужчина', checked: true }, 
          { value: 'woman', text: 'Женщина', checked: false }
        ])

      h3.main__title.toggle-title toggle
      .main__toggle-container
        +toggle({ text: 'Получать спецпредложения', checked: true})
        +toggle({ text: 'Получать спецпредложения'})

      h3.main__title.like-button-title like button
      .main__like-button-container 
        +likeButton({quantity: 2})
        +likeButton({quantity: 12, liked: true})

      h3.main__title.rate-button-title rate button
      .main__rate-button-container 
        +rateButton(4)
        +rateButton(5)
         
      .main__rich-checkbox-container
        - richCheckboxButtonsOptions.title = 'rich checkbox buttons'
        +richCheckboxButtons(richCheckboxButtonsOptions)


    .main__column.main__column_right
      .main__slider-container 
        +slider({title: 'range slider', selector: 'price-filter'})

      h3.main__title.buttons-title buttons
      .main__buttons-container
        +button({})
        +button({modifier: 'transparent'})
        +button({modifier: 'minimal'})
        +button({text: 'перейти к оплате', modifier: 'big', isSubmit: true})

      h3.main__title.pagination-title pagination
      .main__pagination-container
        +pagination(15, '1 – 12 из 100+ вариантов аренды')
        
      .main__bullet-list-container 
        +bulletList('bullet list', rulesItems)

    .main__row 
      .main__information-container 
        +informationBlock({ itemOptions: [informationItems[0], informationItems[1]] })

      .main__review-container 
        +review(reviewsData[0])
        