doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    

  body
    .conteiner
      - var itemOptions = [{checkboxName: "breakfast", checkboxChecked: false, itemText: "Завтрак"}, {checkboxName: "writingDesk", checkboxChecked: true, itemText: "Письменный стол"}, {checkboxName: "feedingChair", checkboxChecked: true, itemText: "Стул для кормления"}, {checkboxName: "crib",  checkboxChecked: true, itemText: "Кроватка"}, {checkboxName: "TV", checkboxChecked: false, itemText: "Телевизор"}, {checkboxName: "shampoo", checkboxChecked: false, itemText: "Шампунь"},]
      include components/expandableCheckboxList/expandableCheckboxList.pug
      +expandableCheckboxList("expandable Checkbox List", itemOptions)
       