include blocks/header/header.pug 
include blocks/information-about-room/information-about-room.pug 
include blocks/booking-block/booking-block.pug
include blocks/footer/footer.pug 
include components/room-gallery/room-gallery.pug 


-
  const informationItems = [{img: "src/components/information-block/img/smile.png", alt: "comfort", title: "Комфорт", text: "Шумопоглощающие стены"},{img: "src/components/information-block/img/windows.png", alt: "windows", title: "Удобство", text: "Окно в каждой из спален"}, {img: "src/components/information-block/img/fire.png", alt: "cosiness", title: "Уют", text: "Номер оснащён камином"}]
  const reviewsData = [
    {photo:"src/components/reviews/img/user1.jpg", name: "Мурад Сарафанов", publicationDate: "5 дней назад", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", quantityLikes: 12, liked: true},
    {photo:"src/components/reviews/img/user2.jpg", name: "Патрисия Стёклышкова", publicationDate: "Неделю назад", text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", quantityLikes: 2, liked: false}
  ]

  const rulesItems = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Описание номера")
    meta(name="keywords", content="номер, отель, номер в отеле, поис номеров, гостиница")

    title Описание номера 

  body

    +header(false, '')

    main.main 

      - const imgData = [{src: "src/components/room-gallery/img/room-01.jpg", alt: "room01"}, {src: "src/components/room-gallery/img/room-02.jpg", alt: "room02"}, {src: "src/components/room-gallery/img/room-03.jpg", alt: "room03"},]
      +roomGallery(imgData)

      .main__conteiner 

        .main__room-information-conteiner
          +roomInformationBlock(informationItems, reviewsData, rulesItems)

        .main__booking-conteiner
          +bookingBlock

    +footer