include blocks/header/header.pug 
include blocks/room-card-block/room-card-block.pug 
include blocks/footer/footer.pug
include components/dropdown/dropdown.pug 
include components/slider/slider.pug 
include components/checkbox-buttons/checkbox-buttons.pug 
include components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
include components/expandable-checkbox-list/expandable-checkbox-list.pug 
include components/pagination/pagination.pug 
include components/filter-date-dropdown/filter-date-dropdown.pug

-
  const { 
    roomsOptions, checkboxButtonsOptions, richCheckboxButtonsOptions, expandableCheckboxListOptions
  } = require('./scripts/state.js')

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Номера, которые мы для вас подобрали')
    meta(name='keywords', content='номер, отель, номер в отеле, поис номеров, гостиница')

    title Номера, которые мы для вас подобрали 

  body
    +header(false, '')
    
    main.main 
      .main__container 

        aside.filters.js-filters
          article.filters__date.js-filters__date
            +filterDateDropdown({ className: 'date-filter', title: 'даты пребывания в отеле', name: 'dateFilter' })
          
          article.filters__guests
            +dropdown({ className: 'guests-quantity', title: 'гости' })
          
          article.filters__price 
            +slider({ title: 'диапазон цены', selector: 'price-filter' })
            p.filters__price-text Стоимость за сутки пребывания в номере
          
          article.filters__rules
            +checkboxButtons(checkboxButtonsOptions)
          
          article.filters__availability
            +richCheckboxButtons(richCheckboxButtonsOptions)
          
          article.filters__convenience
            +dropdown({ className: 'convenience-filter', title: 'удобства номера' , name:'convenience' })
          
          article.filters__additional-amenities
            +expandableCheckboxList(expandableCheckboxListOptions)
        
        section.search-results 
          h1.search-results__title Номера, которые мы для вас подобрали
          
          .search-results__list
            
            each item in roomsOptions
              article.search-results__item
                +roomCardBlock(item)

            .search-results__pagination
              +pagination(15, '1 – 12 из 100+ вариантов аренды')

    +footer