@import '@/styles/variables.sass'
  
.checkbox-buttons
  width: 100%
  box-sizing: border-box
  
  &__title
    margin: 0
    text-transform: uppercase

  &__list
    margin-top: 12px

  &__item
    display: flex
    width: 100%
    cursor: pointer 

    & .checkbox-buttons__item-text
    font-weight: $normal
    color: $dark-shade-50


  &_standard
    max-width: 224px

    & .checkbox-buttons__item
      padding: 5px 0
      width: fit-content
    
      & .checkbox-buttons__item-text
        font-size: 13.8px
        line-height: 18px
        margin-left: 10px

  &_rich
    & .checkbox-buttons__list
      margin-top: 15px

    & .checkbox-buttons__item
      box-sizing: border-box

      &~&
        box-sizing: border-box
        padding-top: 4px

      & .checkbox-buttons__item-content
        margin-left: 10px
        flex: 1 1 auto
        box-sizing: border-box

        & .checkbox-buttons__item-title
          font-weight: $bold
          font-size: 14px
          line-height: 1
          color: $dark-shade-75
          display: inline-block
          width: 100%
          box-sizing: border-box
          margin: 0
          height: 20px
          display: flex
          align-items: center

        & .checkbox-buttons__item-text
          font-size: 12px
          line-height: 14px
          display: inline-block
          width: 100%
          margin: 5px 0 0 0
          box-sizing: border-box

  &_expandable
    & .checkbox-buttons__titles-container
      width: 100%
      box-sizing: border-box
      position: relative
      cursor: pointer

      &:after
        content: 'expand_more'
        font-family: 'Material Icons'
        text-transform: none
        font-size: 24px
        color: $dark-shade-50
        position: absolute
        right: 10px
        bottom: -5px
        cursor: pointer
        z-index: 1

    & .checkbox-buttons__list
      margin-top: 13px
      display: none

    &.checkbox-buttons_visible
      & .checkbox-buttons__titles-container::after
        transform: rotate(180deg)

      & .checkbox-buttons__list
        display: block

    & .checkbox-buttons__item
      padding: 5px 0
      width: fit-content
    
      & .checkbox-buttons__item-text
        font-size: 13.8px
        line-height: 18px
        margin-left: 10px  
 