include __image/image-slider__image.pug
mixin imageSlider(sliderItems)
  .image-slider.js-image-slider
    .image-slider__prev 
    .image-slider__next
    .image-slider__slides
      - var activeImage = true
      each item in sliderItems
        +image(item.src, item.alt, activeImage)
        - activeImage = false