include ../../blocks/search-form/search-form.pug 
include ../../blocks/registration-form/registration-form.pug 
include ../../blocks/booking-form/booking-form.pug
include ../../blocks/sign-in-form/sign-in-form.pug 
include ../../blocks/room-card/room-card.pug 
include ../../components/date-picker/date-picker.pug

- const { roomsOptions } = require('@/state/state.js')

main.cards.js-cards
  .cards__container 
    .cards__column.cards__column_left
      .cards__search-form-container.js-cards__search-form-container
        +searchForm

      .cards__registration-form-container.js-cards__registration-form-container
        +registrationForm

    .cards__column.cards__column_center
      .cards__booking-form-container.js-cards__booking-form-container 
        +bookingForm

      .cards__sign-in-form-container.js-cards__sign-in-form-container
        +signInForm

    .cards__column.cards__column_right
      .cards__date-picker-container.js-cards__date-picker-container 
        +datePicker

      .cards__room-card-container.js-cards__room-card-container.cards__room-card-container_first
        +roomCard(roomsOptions[0])

      .cards__room-card-container.js-cards__room-card-container.cards__room-card-container_second
        +roomCard(roomsOptions[1])
