@import "../../styles/variables.sass"

.header
  width: 100%
  box-sizing: border-box
  height: 70px
  display: flex
  justify-content: center
  flex: 1 1 auto
  background: #FFFFFF
  box-shadow: 0px 10px 20px $dark-shade-5


  &__container
    max-width: 1200px
    padding: 0 20px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    flex: 1 1 auto

  &__content
    width: fit-content
    display: flex
    align-items: center
    box-sizing: border-box

    @media screen and ( max-width:  1000px)
      flex-direction: row-reverse

  &__navigation
    width: fit-content
    height: fit-content
    box-sizing: border-box

  &__filters-button
    width: 40px
    height: 40px
    box-sizing: border-box
    justify-content: center
    align-items: center
    display: none
    border-radius: 50%
    font-size: 20px
    font-family: toxin-icons
    color: #fff
    +gradient
    z-index: 50
    margin-left: 20px
    
    &::before
      content: '\e900'

    @media screen and ( max-width:  1150px)
      display: flex

    @media screen and ( max-width:  1000px)
      margin-right: 20px
      margin-left: 0
    
  &__authorization
    width: fit-content
    align-items: center
    opacity: 1
    display: flex
    padding-left: 20px
    margin-bottom: 0

    @media screen and ( max-width:  1000px)
      padding-right: 20px

    @media screen and ( max-width:  530px)
      margin-left: auto
      margin-right: auto
      padding: 0
      position: absolute
      opacity: 0

    &_activated
      opacity: 1
      position: relative
          
  &__log-in
    box-sizing: border-box
    padding-right: 20.5px
    width: fit-content
    height: fit-content

    @media screen and ( max-width:  1000px)
      padding-right: 10px

  &__registration
    box-sizing: border-box
    width: fit-content
    height: fit-content

  &__user-name
    box-sizing: border-box
    padding: 5px 0 5px 19px
    border-left: 1px solid $dark-shade-10
    margin-left: 19px

  &__name
    font-size: 14px
    line-height: 17px
    color: $dark-shade-50
    margin: 0
    