include ../../components/logo/logo.pug
include ../../components/button/button.pug
include ../../components/menu/menu.pug 

mixin header({isLogIn = false , userName = '', modifier = ''})
  - const classes = modifier ? `header js-header header_${modifier}` : 'header js-header'
  header(class = classes)
    .header__container 
      +logo
      
      .header__content.js-header__content
        .header__navigation.js-header__navigation
          +menu

        if modifier === 'with-filter-button'
          .header__filters-button.js-header__filters-button

        if !isLogIn
          form.header__authorization.js-header__authorization
            .header__log-in
              +button({ text: 'Войти', formaction: 'sign-in.html', modifier: ['transparent', 'low'] })

            .header__registration
              +button({ text:'Зарегистрироваться', modifier: ['low'], formaction: 'registration.html' })

        else 
          .header__user-name 
            p.header__name #{ userName }