include ../../components/logo/logo.pug
include ../../components/button/button.pug
include ../../components/menu/menu.pug 

mixin header(isLogIn, userName)
  header.header.js-header
    .header__container 
      +logo
      
      .header__content.js-header__content
        .header__navigation.js-header__navigation
          +menu

        if !isLogIn
          .header__authorization.js-header__authorization
            .header__log-in
              +button({ text: 'Войти', href: 'sign-in.html', modifier: 'min-transparent' })

            .header__registration
              +button({ text:'Зарегистрироваться', href: 'registration.html' })

        else 
          .header__user-name 
            p.header__name #{ userName }