include ../../components/logo/logo.pug
include ../../components/button/button.pug

mixin header(isLogIn, userName)
  header.header.js-header
    .header__container 
      +logo
      
      .header__content.js-header__content
        .header__navigation
          include ../../components/menu/menu.pug 

        if !isLogIn
          .header__authorization.js-header__authorization
            .header__log-in
              +button({text: "Войти", href: 'sign-in.html', modificator: "min-transparent"})

            .header__registration
              +button({text:"Зарегистрироваться", href: "registration.html"})

        else 
          .header__user-name 
            p.header__name #{userName}