include ../../checkbox/checkbox.pug

mixin richCheckboxButtons__item(options = {})
  - const { name = "", checked = false, title = "item title", text = "" } = options
 
  label.rich-checkbox-buttons__item
    +checkbox(name, checked)
    span.rich-checkbox-buttons__text-content 
      h4.rich-checkbox-buttons__item-title #{ title }
      span.rich-checkbox-buttons__item-text #{ text }