mixin controlPanel
  .control-panel.js-control-panel
    .control-panel__clean-button.button.button_minimal 
      p.button__text отчистить

    .control-panel__apply-button.button.button_minimal
      p.button__text применить