mixin slider({ title = 'slider', min, max, initValues = [min, max] })

  if ((min !== undefined) && (max !== undefined))
    .slider.js-slider(
      data-min = min, 
      data-max = max, 
      data-min-init-value = initValues[0], 
      data-max-init-value = initValues[1]
    )
      .slider__header
        h3.slider__title #{ title }
        p.slider__values 
      .slider__body