mixin slider(options = {})
  - const { title = "", selector = "slider-selector" } = options
  div(class = `slider ${ selector } js-${ selector }`)
    .slider__header
      h3.slider__title #{ title }
      p.slider__values 
    .slider__body